<header class="site-header">
  <div class="header-inner">
    <a class="brand" href="/index.html">
      <img src="/assets/img/Logo.svg" alt="Nikolay Kesov" />
    </a>

    <nav class="nav-desktop">
      <ul class="nav-list">
        <li class="nav-item"><a class="nav-link" href="/index.html">Начало</a></li>
        <li class="nav-item"><a class="nav-link" href="/about.html">За мен</a></li>

        <li class="nav-item has-dropdown">
          <a class="nav-link" href="/galleries/galleries.html">Галерии</a>
          <div class="dropdown">
            <a class="dropdown-link" href="/galleries/galleries-portraits.html">Портрети</a>
            <a class="dropdown-link" href="/galleries/galleries-events.html">Събития</a>
            <a class="dropdown-link" href="/galleries/galleries-travels.html">Пътувания</a>
          </div>
        </li>

        <li class="nav-item has-dropdown">
          <a class="nav-link" href="/services/services.html">Услуги</a>
          <div class="dropdown">
            <a class="dropdown-link" href="/services/services-portraits.html">Портретна фотосесия</a>
            <a class="dropdown-link" href="/services/services-events.html">Заснемане на събитие</a>
          </div>
        </li>

        <li class="nav-item"><a class="nav-link" href="/recommendations.html">Препоръки</a></li>
        <li class="nav-item"><a class="nav-link" href="/gear.html">Оборудване</a></li>
        <li class="nav-item"><a class="nav-link" href="/faq.html">ЧЗВ</a></li>
        <li class="nav-item"><a class="nav-link" href="/contacts.html">Контакти</a></li>
      </ul>
    </nav>

    <button class="hamburger" type="button" aria-label="Menu">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </button>
  </div>
</header>

<div class="mobile-overlay" id="mobileMenu">
  <nav class="nav-mobile">
    <a href="/index.html">Начало</a>
    <a href="/about.html">За мен</a>
    <a href="/galleries/galleries.html">Галерии</a>
    <a href="/services/services.html">Услуги</a>
    <a href="/recommendations.html">Препоръки</a>
    <a href="/gear.html">Оборудване</a>
    <a href="/faq.html">ЧЗВ</a>
    <a href="/contacts.html">Контакти</a>
  </nav>
</div>